
<header class="toolbar toolbar-header">
  {{> header}}
</header>

<div>{{> search}}</div>
<div>{{> map}}</div>

<div class="window-content">
  {{>list}}
</div>

<footer class="toolbar toolbar-footer">
  {{> footer}}
</footer>


{{#partial item}}
  {{#if type === 'folder'}}
    <li on-click="getContent:{{path}}" class="list-group-item {{ isCurrentlyActive(name) ? 'selected': '' }}">
      {{> itemContent }}
    </li>
  {{else}}
    <li on-click="updatePlaylist:{{name}},{{path}},{{id}}" class="list-group-item {{ isCurrentlyActive(name) ? 'selected': '' }}">
      {{> itemContent }}
    </li>
  {{/if}}
{{/partial}}

{{#partial itemContent}}
  <div class="media-body">
    <div class="pull-left">
      <p>{{ name }}</p>
    </div>
    <div class="pull-right">
      {{#if type === 'folder'}}
        <span class="icon icon-right-open-big"></span>
      {{else}}
        {{! type is 'song'}}
        {{#if isCurrentlyPlaying(name)}}
          <span style="color: #27ae60;" class="icon icon-note"></span>
        {{else}}
          {{#if !playlistActive}}
            {{#if inPlaylist(name)}}
              <span style="color: #3498db;" class="icon icon-note"></span>
            {{else}}
            <span style="color: #bdc3c7;" class="icon icon-note"></span>
            {{/if}}
          {{/if}}
        {{/if}}
      {{/if}}
    </div>
  </div>
{{/partial}}
